<!DOCTYPE html>
<html>
    <head>
        <!-- Site made with Mobirise Website Builder v5.9.17, https://mobirise.com -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="generator" content="Mobirise v5.9.17, mobirise.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="shortcut icon" href="./assets/images/mbr-206x191.png" type="image/x-icon">
        <meta name="description" content="">
        
        
        <title>Registro</title>
        <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="assets/dropdown/css/style.css">
        <link rel="stylesheet" href="assets/socicon/css/styles.css">
        <link rel="stylesheet" href="assets/theme/css/style.css">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
        <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=Wf9Ojj"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=Wf9Ojj" type="text/css">

        
    </head>
    <body>
        <section data-bs-version="5.1" class="form5 cid-u6ZGQ9mri0" id="form02-3">
    
    
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 content-head">
                        <div class="mbr-section-head mb-5">
                            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"> 
                                <img  src="assets/images/mbr-206x191.png" alt="Mobirise Website Builder" style="height: 100px; width: auto; display: block; margin: 0 auto;">
                                <strong>Regístrate Ahora</strong>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                        <form action="/register" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                            <div class="row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                    Oops...! some problem!
                                </div>
                            </div>
                            <div class="dragArea row">

                                <div class="col-12 form-group mb-3 mb-3" data-for="url">
                                    <input type="text" name="name" placeholder="Nombre" data-form-field="url" class="form-control" value="" id="url-form02-3" required>
                                </div>
                                <div class="col-12 form-group mb-3 mb-3" data-for="url">
                                    <input type="text" name="apellido" placeholder="Apellido" data-form-field="url" class="form-control" value="" id="url-form02-3" required>
                                </div>
                                <div class="col-12 form-group mb-3 mb-3" data-for="url">
                                    <input type="text" name="username" placeholder="username" data-form-field="url" class="form-control" value="" id="url-form02-3" required>
                                </div>
                                <!--<div class="col-12 form-group mb-3 mb-3" data-for="url">
                                    <input type="email" name="email" placeholder="Correo" data-form-field="url" class="form-control" value="" id="url-form02-3" required>
                                </div>-->
                                <div class="col-12 form-group mb-3 mb-3" data-for="url">
                                    <input type="password" name="password" placeholder="Password" data-form-field="url" class="form-control" value="" id="url-form02-3" required>
                                </div>
                                <div class="col-12 form-group mb-3 mb-3" data-for="url">
                                    <input type="date" name="fecha_nacimiento" placeholder="fecha_nacimiento" data-form-field="url" class="form-control" value="" id="url-form02-3">
                                </div>
                                <div class="col-12 form-group mb-3 mb-3" data-for="url">
                                    <input type="text" name="phone" placeholder="phone" data-form-field="url" class="form-control" value="" id="url-form02-3" >
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                    <button type="submit" class="btn btn-primary display-7" action="/register">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section data-bs-version="5.1" class="footer3 cid-u6ZF78TESB" once="footers" id="footer-6-u6ZF78TESB">
            <div class="container">
                <div class="row">
                    <div class="row-links">
                        <ul class="header-menu">
        
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Inicio</a>
                          </li><li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Acerca</a>
                          </li><li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Contacto</a>
                          </li><li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Términos</a>
                          </li></ul>
                      </div>
        
                    
                    <div class="col-12 mt-4">
                        <p class="mbr-fonts-style copyright display-7">© 2024 socialTernero. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </section>

    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/theme/js/script.js"></script>  
    <script src="script.js" type="text/javascript"></script>
  </body>

  </html>